In [5]:
import pandas as pd

df = pd.read_csv('test_dataset.csv')
df.describe()

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,title_year,actor_2_facebook_likes,movie_facebook_likes,average_degree_centrality
count,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,7.520000e+02,7.520000e+02,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000,752.000000
mean,376.500000,174.445479,110.982713,920.970745,784.938830,8136.437500,5.555090e+07,1.095218e+05,12068.214096,1.363032,340.519947,2003.750000,2137.352394,10878.398936,0.001839
std,217.227991,131.713383,25.378172,3359.461455,1864.192618,10812.436334,7.748123e+07,1.567015e+05,14875.918668,1.820834,395.124750,9.018327,4094.280342,26910.692305,0.001230
min,1.000000,8.000000,63.000000,0.000000,0.000000,2.000000,7.030000e+02,4.800000e+02,2.000000,0.000000,6.000000,1927.000000,0.000000,0.000000,0.000300
25%,188.750000,81.750000,96.000000,14.000000,203.500000,817.500000,6.852100e+06,2.314025e+04,2027.750000,0.000000,116.000000,1999.000000,417.000000,0.000000,0.000825
50%,376.500000,142.000000,106.000000,66.500000,457.000000,2000.000000,2.916831e+07,5.424550e+04,4660.000000,1.000000,218.500000,2005.000000,731.000000,172.500000,0.001501
75%,564.250000,229.250000,119.000000,243.250000,722.250000,13250.000000,6.947862e+07,1.289892e+05,17513.500000,2.000000,402.000000,2010.000000,1000.000000,12000.000000,0.002551
max,752.000000,775.000000,325.000000,22000.000000,19000.000000,137000.000000,7.605058e+08,1.347461e+06,140268.000000,15.000000,3054.000000,2016.000000,27000.000000,349000.000000,0.006754

In [6]:
# Apply frequency encoding to string columns with names and drop the initial columns
categorical_columns = ['director_name', 'actor_2_name', 'actor_1_name', 'actor_3_name']
for col in categorical_columns:
    frequency_encoding = df[col].value_counts(normalize=True).to_dict()
    df[col + '_freq'] = df[col].map(frequency_encoding)
    df.drop(col, axis=1, inplace=True)  # Drop the initial column

df.head()

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,genres,movie_title,num_voted_users,...,content_rating,title_year,actor_2_facebook_likes,movie_facebook_likes,title_embedding,average_degree_centrality,director_name_freq,actor_2_name_freq,actor_1_name_freq,actor_3_name_freq
0,1,27,118,14,400,2000,2246000,Biography|Drama|Sport,Courage,2302,...,PG,2015,769,0,[-1.8731274e-03 7.4580857e-05 -1.0176800e-03 ...,0.000375,0.001330,0.00133,0.001330,0.00133
1,2,339,141,0,404,749,47307550,Crime|Drama|Thriller,Savages,104301,...,R,2012,463,28000,[-9.12924181e-04 -1.82617712e-03 -7.91343977e-...,0.002176,0.006649,0.00133,0.001330,0.00133
2,3,78,95,89,388,963,37606,Comedy|Crime|Drama,Defendor,31836,...,R,2009,654,0,[-2.2053068e-04 -8.8869774e-04 1.3940284e-04 ...,0.000900,0.001330,0.00133,0.001330,0.00133
3,4,226,117,0,818,15000,104054514,Crime|Drama|Thriller,Road to Perdition,200359,...,R,2002,1000,0,[-7.79978640e-04 1.89176446e-03 1.27516838e-...,0.003452,0.002660,0.00266,0.006649,0.00133
4,5,97,104,38,690,801,3447339,Comedy|Romance,The To Do List,29517,...,R,2013,727,0,[-2.7749534e-03 4.2528817e-03 3.0464510e-04 ...,0.000450,0.001330,0.00133,0.001330,0.00133

In [7]:
import pandas as pd
import numpy as np

# Define a function to convert the string of numbers into a list of floats
def convert_to_floats(embedding_str):
    numbers_str = embedding_str.strip('[]')
    numbers_str_list = list(filter(None, numbers_str.split(' ')))
    return [float(num) for num in numbers_str_list]

df['title_embedding'] = df['title_embedding'].apply(convert_to_floats)

embedding_df = pd.DataFrame(df['title_embedding'].tolist(), columns=[f'title_embedding_{i}' for i in range(len(df['title_embedding'].iloc[0]))])

df = pd.concat([df, embedding_df], axis=1)

df.drop('title_embedding', axis=1, inplace=True)
df.drop('movie_title', axis=1, inplace=True)

df.head()

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,genres,num_voted_users,cast_total_facebook_likes,...,title_embedding_90,title_embedding_91,title_embedding_92,title_embedding_93,title_embedding_94,title_embedding_95,title_embedding_96,title_embedding_97,title_embedding_98,title_embedding_99
0,1,27,118,14,400,2000,2246000,Biography|Drama|Sport,2302,3384,...,-0.000023,0.002233,-0.001463,0.002111,-0.001449,0.000483,0.002822,-0.001277,-0.002323,-0.001911
1,2,339,141,0,404,749,47307550,Crime|Drama|Thriller,104301,1948,...,0.000812,0.003193,0.001175,0.001316,-0.001595,0.002132,0.001770,-0.000132,0.000088,0.001170
2,3,78,95,89,388,963,37606,Comedy|Crime|Drama,31836,2658,...,0.002194,0.000918,-0.000543,0.000038,0.001010,0.001043,-0.000967,-0.000825,-0.001011,-0.000787
3,4,226,117,0,818,15000,104054514,Crime|Drama|Thriller,200359,16828,...,0.001673,0.000719,-0.000135,0.001563,-0.002141,-0.000219,0.001899,0.000988,-0.000454,-0.002536
4,5,97,104,38,690,801,3447339,Comedy|Romance,29517,2667,...,0.003995,0.004481,0.002086,0.000519,-0.004923,-0.001050,0.003928,0.000649,-0.004242,-0.003169

In [8]:
from gensim.models import Word2Vec
import pandas as pd

df['genres_list'] = df['genres'].str.split('|')
df['plot_keywords_list'] = df['plot_keywords'].str.split('|')

# Train separate Word2Vec models for 'genres' and 'plot_keywords'
model_genres = Word2Vec(sentences=df['genres_list'], vector_size=50, window=5, min_count=1, workers=4)
model_plot_keywords = Word2Vec(sentences=df['plot_keywords_list'], vector_size=50, window=5, min_count=1, workers=4)

vectors_genres = [model_genres.wv[genres].mean(axis=0) for genres in df['genres_list']]
vectors_plot_keywords = [model_plot_keywords.wv[keywords].mean(axis=0) for keywords in df['plot_keywords_list']]

df_vectors_genres = pd.DataFrame(vectors_genres, columns=[f'genres_{i}' for i in range(50)])
df_vectors_plot_keywords = pd.DataFrame(vectors_plot_keywords, columns=[f'plot_keywords_{i}' for i in range(50)])

df_vectors_genres.shape, df_vectors_genres.head(), df_vectors_plot_keywords.shape, df_vectors_plot_keywords.head()

((752, 50),
    genres_0  genres_1  genres_2  genres_3  genres_4  genres_5  genres_6  \
 0  0.003612 -0.008584  0.003030  0.014166 -0.015236 -0.011865  0.007698
 1 -0.012973  0.008944  0.006132  0.009306  0.001268 -0.012979  0.009023
 2 -0.012731  0.009416 -0.000229  0.006211  0.001770 -0.011946  0.011615
 3 -0.012973  0.008944  0.006132  0.009306  0.001268 -0.012979  0.009023
 4 -0.008060  0.001894 -0.012002 -0.006139 -0.001288 -0.011749  0.004827

    genres_7  genres_8  genres_9  ...  genres_40  genres_41  genres_42  \
 0 -0.001589 -0.015084 -0.013414  ...  -0.002163   0.002291  -0.010147
 1  0.015434 -0.004623 -0.012758  ...   0.001245   0.002295  -0.009086
 2  0.007038 -0.005642 -0.002406  ...  -0.003073   0.007202  -0.000901
 3  0.015434 -0.004623 -0.012758  ...   0.001245   0.002295  -0.009086
 4 -0.010243 -0.013681  0.004802  ...  -0.002901   0.006124   0.011246

    genres_43  genres_44  genres_45  genres_46  genres_47  genres_48  genres_49
 0  -0.001480   0.009635  -0.001938  -0.004644   0.000061   0.009344   0.010737
 1  -0.005696   0.007316   0.008686   0.000433   0.003202   0.003290   0.006065
 2  -0.005366   0.016363   0.007009  -0.009652  -0.000499   0.003035   0.009221
 3  -0.005696   0.007316   0.008686   0.000433   0.003202   0.003290   0.006065
 4  -0.004429   0.022212   0.012196  -0.003589  -0.007223   0.010210  -0.000200

 [5 rows x 50 columns],
 (752, 50),
    plot_keywords_0  plot_keywords_1  plot_keywords_2  plot_keywords_3  \
 0        -0.003731         0.000415         0.005866        -0.008405
 1        -0.000710         0.004805        -0.002260         0.000294
 2        -0.002975         0.007474         0.009703        -0.009668
 3         0.005796         0.005826         0.002817        -0.003160
 4         0.000937        -0.011626        -0.001035         0.005582

    plot_keywords_4  plot_keywords_5  plot_keywords_6  plot_keywords_7  \
 0         0.005653        -0.001875        -0.002806        -0.004024
 1        -0.000842         0.001017         0.005018        -0.003065
 2         0.006157        -0.008835         0.008772        -0.002590
 3         0.007239         0.005070        -0.003253         0.000964
 4        -0.000054         0.001706         0.011370         0.010778

    plot_keywords_8  plot_keywords_9  ...  plot_keywords_40  plot_keywords_41  \
 0        -0.001554         0.000602  ...         -0.006377         -0.000921
 1         0.006593        -0.005901  ...          0.005017         -0.000332
 2         0.007741        -0.003544  ...         -0.010116          0.002129
 3         0.000130        -0.004628  ...         -0.001265          0.000508
 4        -0.002086         0.000855  ...         -0.009076         -0.007902

    plot_keywords_42  plot_keywords_43  plot_keywords_44  plot_keywords_45  \
 0          0.003867         -0.002379         -0.002241         -0.008742
 1          0.000913         -0.000291          0.012294         -0.000398
 2         -0.000620          0.006942          0.008414          0.007745
 3          0.003512          0.002319          0.005358         -0.002607
 4          0.001400          0.000022         -0.002759         -0.004688

    plot_keywords_46  plot_keywords_47  plot_keywords_48  plot_keywords_49
 0         -0.005409         -0.002557         -0.001309          0.002819
 1          0.004947         -0.002086          0.004367         -0.003248
 2          0.000594          0.005655          0.000504         -0.004396
 3         -0.000771          0.008484         -0.003497          0.001327
 4         -0.002544         -0.001390         -0.003958          0.004347

 [5 rows x 50 columns])

In [9]:
df = pd.concat([df, df_vectors_genres, df_vectors_plot_keywords], axis=1)

df.drop(['genres', 'plot_keywords', 'genres_list', 'plot_keywords_list'], axis=1, inplace=True)

df.shape, df.head()

((752, 222),
    id  num_critic_for_reviews  duration  director_facebook_likes  \
 0   1                      27       118                       14
 1   2                     339       141                        0
 2   3                      78        95                       89
 3   4                     226       117                        0
 4   5                      97       104                       38

    actor_3_facebook_likes  actor_1_facebook_likes      gross  num_voted_users  \
 0                     400                    2000    2246000             2302
 1                     404                     749   47307550           104301
 2                     388                     963      37606            31836
 3                     818                   15000  104054514           200359
 4                     690                     801    3447339            29517

    cast_total_facebook_likes  facenumber_in_poster  ...  plot_keywords_40  \
 0                       3384                     4  ...         -0.006377
 1                       1948                     4  ...          0.005017
 2                       2658                     0  ...         -0.010116
 3                      16828                     0  ...         -0.001265
 4                       2667                     7  ...         -0.009076

   plot_keywords_41 plot_keywords_42 plot_keywords_43  plot_keywords_44  \
 0        -0.000921         0.003867        -0.002379         -0.002241
 1        -0.000332         0.000913        -0.000291          0.012294
 2         0.002129        -0.000620         0.006942          0.008414
 3         0.000508         0.003512         0.002319          0.005358
 4        -0.007902         0.001400         0.000022         -0.002759

    plot_keywords_45  plot_keywords_46  plot_keywords_47  plot_keywords_48  \
 0         -0.008742         -0.005409         -0.002557         -0.001309
 1         -0.000398          0.004947         -0.002086          0.004367
 2          0.007745          0.000594          0.005655          0.000504
 3         -0.002607         -0.000771          0.008484         -0.003497
 4         -0.004688         -0.002544         -0.001390         -0.003958

    plot_keywords_49
 0          0.002819
 1         -0.003248
 2         -0.004396
 3          0.001327
 4          0.004347

 [5 rows x 222 columns])

In [10]:
# Apply one-hot encoding to the 'content_rating' column
content_rating_dummies = pd.get_dummies(df['content_rating'], prefix='content_rating', drop_first=True)

df = pd.concat([df, content_rating_dummies], axis=1)

df.drop('content_rating', axis=1, inplace=True)

df.head()

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,...,plot_keywords_49,content_rating_G,content_rating_NC-17,content_rating_Not Rated,content_rating_PG,content_rating_PG-13,content_rating_Passed,content_rating_R,content_rating_Unrated,content_rating_X
0,1,27,118,14,400,2000,2246000,2302,3384,4,...,0.002819,False,False,False,True,False,False,False,False,False
1,2,339,141,0,404,749,47307550,104301,1948,4,...,-0.003248,False,False,False,False,False,False,True,False,False
2,3,78,95,89,388,963,37606,31836,2658,0,...,-0.004396,False,False,False,False,False,False,True,False,False
3,4,226,117,0,818,15000,104054514,200359,16828,0,...,0.001327,False,False,False,False,False,False,True,False,False
4,5,97,104,38,690,801,3447339,29517,2667,7,...,0.004347,False,False,False,False,False,False,True,False,False

In [11]:
# Apply one-hot encoding to the 'country' and 'language' columns
country_dummies = pd.get_dummies(df['country'], prefix='country')
language_dummies = pd.get_dummies(df['language'], prefix='language')

df= pd.concat([df, country_dummies, language_dummies], axis=1)

df.drop(['country', 'language'], axis=1, inplace=True)

df.head()

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,...,language_Italian,language_Japanese,language_Korean,language_Mandarin,language_Norwegian,language_Persian,language_Portuguese,language_Russian,language_Spanish,language_Thai
0,1,27,118,14,400,2000,2246000,2302,3384,4,...,False,False,False,False,False,False,False,False,False,False
1,2,339,141,0,404,749,47307550,104301,1948,4,...,False,False,False,False,False,False,False,False,False,False
2,3,78,95,89,388,963,37606,31836,2658,0,...,False,False,False,False,False,False,False,False,False,False
3,4,226,117,0,818,15000,104054514,200359,16828,0,...,False,False,False,False,False,False,False,False,False,False
4,5,97,104,38,690,801,3447339,29517,2667,7,...,False,False,False,False,False,False,False,False,False,False

In [12]:
column_headers = df.columns.tolist()
print(column_headers)

['id', 'num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_1_facebook_likes', 'gross', 'num_voted_users', 'cast_total_facebook_likes', 'facenumber_in_poster', 'num_user_for_reviews', 'title_year', 'actor_2_facebook_likes', 'movie_facebook_likes', 'average_degree_centrality', 'director_name_freq', 'actor_2_name_freq', 'actor_1_name_freq', 'actor_3_name_freq', 'title_embedding_0', 'title_embedding_1', 'title_embedding_2', 'title_embedding_3', 'title_embedding_4', 'title_embedding_5', 'title_embedding_6', 'title_embedding_7', 'title_embedding_8', 'title_embedding_9', 'title_embedding_10', 'title_embedding_11', 'title_embedding_12', 'title_embedding_13', 'title_embedding_14', 'title_embedding_15', 'title_embedding_16', 'title_embedding_17', 'title_embedding_18', 'title_embedding_19', 'title_embedding_20', 'title_embedding_21', 'title_embedding_22', 'title_embedding_23', 'title_embedding_24', 'title_embedding_25', 'title_embedding_26', 'title_embedding_27', 'title_embedding_28', 'title_embedding_29', 'title_embedding_30', 'title_embedding_31', 'title_embedding_32', 'title_embedding_33', 'title_embedding_34', 'title_embedding_35', 'title_embedding_36', 'title_embedding_37', 'title_embedding_38', 'title_embedding_39', 'title_embedding_40', 'title_embedding_41', 'title_embedding_42', 'title_embedding_43', 'title_embedding_44', 'title_embedding_45', 'title_embedding_46', 'title_embedding_47', 'title_embedding_48', 'title_embedding_49', 'title_embedding_50', 'title_embedding_51', 'title_embedding_52', 'title_embedding_53', 'title_embedding_54', 'title_embedding_55', 'title_embedding_56', 'title_embedding_57', 'title_embedding_58', 'title_embedding_59', 'title_embedding_60', 'title_embedding_61', 'title_embedding_62', 'title_embedding_63', 'title_embedding_64', 'title_embedding_65', 'title_embedding_66', 'title_embedding_67', 'title_embedding_68', 'title_embedding_69', 'title_embedding_70', 'title_embedding_71', 'title_embedding_72', 'title_embedding_73', 'title_embedding_74', 'title_embedding_75', 'title_embedding_76', 'title_embedding_77', 'title_embedding_78', 'title_embedding_79', 'title_embedding_80', 'title_embedding_81', 'title_embedding_82', 'title_embedding_83', 'title_embedding_84', 'title_embedding_85', 'title_embedding_86', 'title_embedding_87', 'title_embedding_88', 'title_embedding_89', 'title_embedding_90', 'title_embedding_91', 'title_embedding_92', 'title_embedding_93', 'title_embedding_94', 'title_embedding_95', 'title_embedding_96', 'title_embedding_97', 'title_embedding_98', 'title_embedding_99', 'genres_0', 'genres_1', 'genres_2', 'genres_3', 'genres_4', 'genres_5', 'genres_6', 'genres_7', 'genres_8', 'genres_9', 'genres_10', 'genres_11', 'genres_12', 'genres_13', 'genres_14', 'genres_15', 'genres_16', 'genres_17', 'genres_18', 'genres_19', 'genres_20', 'genres_21', 'genres_22', 'genres_23', 'genres_24', 'genres_25', 'genres_26', 'genres_27', 'genres_28', 'genres_29', 'genres_30', 'genres_31', 'genres_32', 'genres_33', 'genres_34', 'genres_35', 'genres_36', 'genres_37', 'genres_38', 'genres_39', 'genres_40', 'genres_41', 'genres_42', 'genres_43', 'genres_44', 'genres_45', 'genres_46', 'genres_47', 'genres_48', 'genres_49', 'plot_keywords_0', 'plot_keywords_1', 'plot_keywords_2', 'plot_keywords_3', 'plot_keywords_4', 'plot_keywords_5', 'plot_keywords_6', 'plot_keywords_7', 'plot_keywords_8', 'plot_keywords_9', 'plot_keywords_10', 'plot_keywords_11', 'plot_keywords_12', 'plot_keywords_13', 'plot_keywords_14', 'plot_keywords_15', 'plot_keywords_16', 'plot_keywords_17', 'plot_keywords_18', 'plot_keywords_19', 'plot_keywords_20', 'plot_keywords_21', 'plot_keywords_22', 'plot_keywords_23', 'plot_keywords_24', 'plot_keywords_25', 'plot_keywords_26', 'plot_keywords_27', 'plot_keywords_28', 'plot_keywords_29', 'plot_keywords_30', 'plot_keywords_31', 'plot_keywords_32', 'plot_keywords_33', 'plot_keywords_34', 'plot_keywords_35', 'plot_keywords_36', 'plot_keywords_37', 'plot_keywords_38', 'plot_keywords_39', 'plot_keywords_40', 'plot_keywords_41', 'plot_keywords_42', 'plot_keywords_43', 'plot_keywords_44', 'plot_keywords_45', 'plot_keywords_46', 'plot_keywords_47', 'plot_keywords_48', 'plot_keywords_49', 'content_rating_G', 'content_rating_NC-17', 'content_rating_Not Rated', 'content_rating_PG', 'content_rating_PG-13', 'content_rating_Passed', 'content_rating_R', 'content_rating_Unrated', 'content_rating_X', 'country_Australia', 'country_Brazil', 'country_Canada', 'country_China', 'country_Czech Republic', 'country_Denmark', 'country_France', 'country_Georgia', 'country_Germany', 'country_Greece', 'country_Hong Kong', 'country_India', 'country_Iran', 'country_Ireland', 'country_Italy', 'country_Japan', 'country_New Zealand', 'country_Norway', 'country_Peru', 'country_Russia', 'country_South Korea', 'country_Thailand', 'country_UK', 'country_USA', 'language_Cantonese', 'language_English', 'language_French', 'language_German', 'language_Hindi', 'language_Italian', 'language_Japanese', 'language_Korean', 'language_Mandarin', 'language_Norwegian', 'language_Persian', 'language_Portuguese', 'language_Russian', 'language_Spanish', 'language_Thai']

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752 entries, 0 to 751
Columns: 267 entries, id to language_Thai
dtypes: bool(48), float32(100), float64(105), int64(14)
memory usage: 1.0 MB

In [14]:
df.to_csv('processed_test.csv',index = False)