In [3]:
import pandas as pd

df = pd.read_csv('train_dataset.csv')
df.describe()

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,title_year,actor_2_facebook_likes,movie_facebook_likes,average_degree_centrality,imdb_score_binned
count,3004.00000,3004.000000,3004.000000,3004.000000,3004.000000,3004.000000,3.004000e+03,3.004000e+03,3004.000000,3004.000000,3004.000000,3004.000000,3004.000000,3004.000000,3004.000000,3004.000000
mean,1502.50000,165.609188,110.076565,778.890146,767.860186,7654.935752,5.187733e+07,1.049017e+05,11391.643808,1.380826,335.922770,2002.782956,1992.843209,8972.179427,0.001739,2.250333
std,867.32443,121.254549,21.910608,2990.741946,1901.991202,16488.761947,6.840156e+07,1.508573e+05,20044.723195,2.093417,415.219466,10.086250,4651.072554,19853.888300,0.001183,0.691451
min,1.00000,2.000000,37.000000,0.000000,0.000000,0.000000,1.620000e+02,9.100000e+01,0.000000,0.000000,4.000000,1929.000000,0.000000,0.000000,0.000300,0.000000
25%,751.75000,76.000000,96.000000,10.000000,191.000000,728.500000,8.579684e+06,1.897825e+04,1873.000000,0.000000,108.000000,1999.000000,377.750000,0.000000,0.000825,2.000000
50%,1502.50000,137.000000,106.000000,62.500000,433.000000,1000.000000,3.020586e+07,5.387400e+04,3889.000000,1.000000,208.000000,2004.000000,664.000000,241.000000,0.001426,2.000000
75%,2253.25000,223.000000,120.000000,234.000000,683.000000,12000.000000,6.647359e+07,1.284895e+05,15925.250000,2.000000,398.000000,2010.000000,970.000000,11000.000000,0.002401,3.000000
max,3004.00000,813.000000,330.000000,23000.000000,23000.000000,640000.000000,6.586723e+08,1.689764e+06,656730.000000,43.000000,5060.000000,2016.000000,137000.000000,197000.000000,0.007354,4.000000

In [4]:
# Apply frequency encoding to string columns with names and drop the initial columns
categorical_columns = ['director_name', 'actor_2_name', 'actor_1_name', 'actor_3_name']
for col in categorical_columns:
    frequency_encoding = df[col].value_counts(normalize=True).to_dict()
    df[col + '_freq'] = df[col].map(frequency_encoding)
    df.drop(col, axis=1, inplace=True)  # Drop the initial column

df.head()

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,genres,movie_title,num_voted_users,...,title_year,actor_2_facebook_likes,movie_facebook_likes,title_embedding,average_degree_centrality,imdb_score_binned,director_name_freq,actor_2_name_freq,actor_1_name_freq,actor_3_name_freq
0,1,186,73,28,847,2000,422783777,Adventure|Animation|Drama|Family|Musical,The Lion King,644348,...,1994,886,17000,[-4.1984697e-03 4.2941985e-03 -1.1961063e-03 ...,0.001576,4,0.000666,0.001997,0.002330,0.000333
1,2,252,97,0,233,654,20433940,Horror,Land of the Dead,78883,...,2005,529,0,[-4.7586653e-03 2.6511205e-03 -3.7954253e-04 ...,0.000675,2,0.000333,0.000333,0.000333,0.000333
2,3,232,117,234,221,12000,371897,Drama,Joe,36494,...,2013,1000,11000,[ 2.78131524e-03 -3.15494463e-03 -6.38332494e-...,0.003002,2,0.001332,0.000666,0.007656,0.000333
3,4,297,109,0,145,957,13782838,Horror|Mystery|Sci-Fi,The Thing,258078,...,1982,163,23000,[-5.32674184e-03 3.60742491e-03 7.91795843e-...,0.001726,4,0.003329,0.000333,0.000999,0.000333
4,5,297,171,0,857,16000,313837577,Action|Adventure|Drama|Fantasy,The Lord of the Rings: The Fellowship of the R...,1238746,...,2001,5000,21000,[-4.2586620e-03 3.6257182e-03 -1.5326265e-03 ...,0.001876,4,0.003329,0.001664,0.002330,0.000666

In [5]:
df.loc[df['movie_title'].str.lower().str.strip() == 'samsara', 'language'] = 'Tibetan'

df[df['movie_title'].str.lower().str.strip() == 'samsara'][['movie_title', 'language']]

     movie_title language
2787    Samsara   Tibetan

In [6]:
import pandas as pd
import numpy as np

# Define a function to convert the string of numbers into a list of floats
def convert_to_floats(embedding_str):
    numbers_str = embedding_str.strip('[]')
    numbers_str_list = list(filter(None, numbers_str.split(' ')))
    return [float(num) for num in numbers_str_list]

df['title_embedding'] = df['title_embedding'].apply(convert_to_floats)

embedding_df = pd.DataFrame(df['title_embedding'].tolist(), columns=[f'title_embedding_{i}' for i in range(len(df['title_embedding'].iloc[0]))])

df = pd.concat([df, embedding_df], axis=1)

# Drop the original 'title_embedding' column as it's no longer needed
df.drop('title_embedding', axis=1, inplace=True)
df.drop('movie_title', axis=1, inplace=True)

df.head()

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,genres,num_voted_users,cast_total_facebook_likes,...,title_embedding_90,title_embedding_91,title_embedding_92,title_embedding_93,title_embedding_94,title_embedding_95,title_embedding_96,title_embedding_97,title_embedding_98,title_embedding_99
0,1,186,73,28,847,2000,422783777,Adventure|Animation|Drama|Family|Musical,644348,6458,...,0.004746,0.003770,0.001390,0.003076,-0.008132,0.001598,0.006643,0.002400,-0.003933,-0.005527
1,2,252,97,0,233,654,20433940,Horror,78883,1876,...,0.005036,0.003941,0.003205,0.001162,-0.005804,0.002159,0.003575,-0.000710,-0.003438,-0.006788
2,3,232,117,234,221,12000,371897,Drama,36494,13607,...,-0.000173,0.000985,-0.004908,0.000435,0.002376,0.000944,0.003305,0.000132,-0.002589,-0.002180
3,4,297,109,0,145,957,13782838,Horror|Mystery|Sci-Fi,258078,1757,...,0.005158,0.005430,0.003289,0.002486,-0.010253,0.003423,0.006926,0.001835,-0.005065,-0.008602
4,5,297,171,0,857,16000,313837577,Action|Adventure|Drama|Fantasy,1238746,22342,...,0.004583,0.005102,0.002862,0.000808,-0.007791,0.002772,0.005651,-0.000516,-0.004016,-0.006797

In [7]:
from gensim.models import Word2Vec
import pandas as pd

df['genres_list'] = df['genres'].str.split('|')
df['plot_keywords_list'] = df['plot_keywords'].str.split('|')

# Train separate Word2Vec models for 'genres' and 'plot_keywords'
model_genres = Word2Vec(sentences=df['genres_list'], vector_size=50, window=5, min_count=1, workers=4)
model_plot_keywords = Word2Vec(sentences=df['plot_keywords_list'], vector_size=50, window=5, min_count=1, workers=4)

vectors_genres = [model_genres.wv[genres].mean(axis=0) for genres in df['genres_list']]
vectors_plot_keywords = [model_plot_keywords.wv[keywords].mean(axis=0) for keywords in df['plot_keywords_list']]

df_vectors_genres = pd.DataFrame(vectors_genres, columns=[f'genres_{i}' for i in range(50)])
df_vectors_plot_keywords = pd.DataFrame(vectors_plot_keywords, columns=[f'plot_keywords_{i}' for i in range(50)])

df_vectors_genres.shape, df_vectors_genres.head(), df_vectors_plot_keywords.shape, df_vectors_plot_keywords.head()

((3004, 50),
    genres_0  genres_1  genres_2  genres_3  genres_4  genres_5  genres_6  \
 0 -0.047767 -0.017404 -0.014390  0.017348 -0.083599 -0.100309  0.072017
 1 -0.039977 -0.001834 -0.006716 -0.011707 -0.053364 -0.043889  0.046258
 2 -0.066312 -0.015055 -0.002769  0.039181 -0.116420 -0.130868  0.119474
 3 -0.040966 -0.011326 -0.007294  0.008148 -0.057235 -0.051084  0.062825
 4 -0.047389 -0.019264 -0.017906  0.014373 -0.092484 -0.097756  0.095388

    genres_7  genres_8  genres_9  ...  genres_40  genres_41  genres_42  \
 0  0.022419 -0.170275 -0.087704  ...   0.016026   0.003554  -0.038877
 1  0.019499 -0.090848 -0.050975  ...   0.030320  -0.016013  -0.033185
 2  0.054409 -0.230579 -0.112881  ...   0.007702   0.007960  -0.071284
 3  0.016091 -0.117734 -0.055721  ...   0.029571  -0.005012  -0.043928
 4  0.040372 -0.183714 -0.088785  ...   0.013584   0.001815  -0.043388

    genres_43  genres_44  genres_45  genres_46  genres_47  genres_48  genres_49
 0  -0.069537   0.194691   0.069402   0.032356  -0.039744   0.050367   0.009096
 1  -0.034607   0.089929   0.026782   0.012020  -0.007000   0.019863  -0.002395
 2  -0.093988   0.258594   0.093425   0.022549  -0.042541   0.068867   0.021217
 3  -0.037971   0.135931   0.041970   0.018166  -0.031381   0.034253  -0.010006
 4  -0.079348   0.221488   0.081717   0.035858  -0.052110   0.049546   0.001832

 [5 rows x 50 columns],
 (3004, 50),
    plot_keywords_0  plot_keywords_1  plot_keywords_2  plot_keywords_3  \
 0        -0.001279         0.002057         0.004920         0.004867
 1         0.002780        -0.005914        -0.009528        -0.006032
 2         0.004535        -0.013580         0.000169         0.004100
 3        -0.000342        -0.005710         0.004871        -0.006130
 4        -0.001413        -0.000089         0.003956        -0.007190

    plot_keywords_4  plot_keywords_5  plot_keywords_6  plot_keywords_7  \
 0        -0.006165         0.007310         0.005542        -0.001047
 1        -0.002402        -0.008531        -0.005542        -0.000302
 2         0.008010        -0.001202        -0.005646        -0.002153
 3        -0.008688         0.002091         0.003045        -0.006749
 4        -0.000945         0.003860         0.008663         0.008477

    plot_keywords_8  plot_keywords_9  ...  plot_keywords_40  plot_keywords_41  \
 0         0.006630        -0.008504  ...          0.005290          0.008052
 1         0.004326         0.009513  ...          0.001934          0.001674
 2         0.005345        -0.001667  ...         -0.008414          0.007157
 3         0.000226        -0.006181  ...         -0.003830         -0.001355
 4         0.000715         0.003867  ...         -0.000661         -0.007632

    plot_keywords_42  plot_keywords_43  plot_keywords_44  plot_keywords_45  \
 0          0.005435         -0.003710          0.004515          0.004651
 1         -0.013607         -0.000739          0.010122          0.003301
 2          0.005326          0.008523         -0.000180         -0.010114
 3          0.007897         -0.011846         -0.004318          0.002089
 4          0.015176         -0.000722          0.004257          0.004679

    plot_keywords_46  plot_keywords_47  plot_keywords_48  plot_keywords_49
 0         -0.004814         -0.011815         -0.000270         -0.002047
 1          0.002627          0.005182          0.009824         -0.007505
 2          0.001115         -0.001581          0.000618          0.003632
 3          0.005119          0.007861          0.006212          0.005527
 4         -0.006142          0.000111         -0.005141          0.005806

 [5 rows x 50 columns])

In [8]:
df = pd.concat([df, df_vectors_genres, df_vectors_plot_keywords], axis=1)

df.drop(['genres', 'plot_keywords', 'genres_list', 'plot_keywords_list'], axis=1, inplace=True)

df.shape, df.head()

((3004, 223),
    id  num_critic_for_reviews  duration  director_facebook_likes  \
 0   1                     186        73                       28
 1   2                     252        97                        0
 2   3                     232       117                      234
 3   4                     297       109                        0
 4   5                     297       171                        0

    actor_3_facebook_likes  actor_1_facebook_likes      gross  num_voted_users  \
 0                     847                    2000  422783777           644348
 1                     233                     654   20433940            78883
 2                     221                   12000     371897            36494
 3                     145                     957   13782838           258078
 4                     857                   16000  313837577          1238746

    cast_total_facebook_likes  facenumber_in_poster  ...  plot_keywords_40  \
 0                       6458                     0  ...          0.005290
 1                       1876                     8  ...          0.001934
 2                      13607                     2  ...         -0.008414
 3                       1757                     0  ...         -0.003830
 4                      22342                     2  ...         -0.000661

   plot_keywords_41 plot_keywords_42 plot_keywords_43  plot_keywords_44  \
 0         0.008052         0.005435        -0.003710          0.004515
 1         0.001674        -0.013607        -0.000739          0.010122
 2         0.007157         0.005326         0.008523         -0.000180
 3        -0.001355         0.007897        -0.011846         -0.004318
 4        -0.007632         0.015176        -0.000722          0.004257

    plot_keywords_45  plot_keywords_46  plot_keywords_47  plot_keywords_48  \
 0          0.004651         -0.004814         -0.011815         -0.000270
 1          0.003301          0.002627          0.005182          0.009824
 2         -0.010114          0.001115         -0.001581          0.000618
 3          0.002089          0.005119          0.007861          0.006212
 4          0.004679         -0.006142          0.000111         -0.005141

    plot_keywords_49
 0         -0.002047
 1         -0.007505
 2          0.003632
 3          0.005527
 4          0.005806

 [5 rows x 223 columns])

In [9]:
# Apply one-hot encoding to the 'content_rating' column
content_rating_dummies = pd.get_dummies(df['content_rating'], prefix='content_rating', drop_first=True)

df = pd.concat([df, content_rating_dummies], axis=1)

df.drop('content_rating', axis=1, inplace=True)

df.head()

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,...,content_rating_GP,content_rating_M,content_rating_NC-17,content_rating_Not Rated,content_rating_PG,content_rating_PG-13,content_rating_Passed,content_rating_R,content_rating_Unrated,content_rating_X
0,1,186,73,28,847,2000,422783777,644348,6458,0,...,False,False,False,False,False,False,False,False,False,False
1,2,252,97,0,233,654,20433940,78883,1876,8,...,False,False,False,False,False,False,False,True,False,False
2,3,232,117,234,221,12000,371897,36494,13607,2,...,False,False,False,False,False,False,False,True,False,False
3,4,297,109,0,145,957,13782838,258078,1757,0,...,False,False,False,False,False,False,False,True,False,False
4,5,297,171,0,857,16000,313837577,1238746,22342,2,...,False,False,False,False,False,True,False,False,False,False

In [10]:
# Apply one-hot encoding to the 'country' and 'language' columns
country_dummies = pd.get_dummies(df['country'], prefix='country')
language_dummies = pd.get_dummies(df['language'], prefix='language')

df= pd.concat([df, country_dummies, language_dummies], axis=1)

df.drop(['country', 'language'], axis=1, inplace=True)

df.head()

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,...,language_Mongolian,language_Norwegian,language_Persian,language_Portuguese,language_Romanian,language_Spanish,language_Thai,language_Tibetan,language_Vietnamese,language_Zulu
0,1,186,73,28,847,2000,422783777,644348,6458,0,...,False,False,False,False,False,False,False,False,False,False
1,2,252,97,0,233,654,20433940,78883,1876,8,...,False,False,False,False,False,False,False,False,False,False
2,3,232,117,234,221,12000,371897,36494,13607,2,...,False,False,False,False,False,False,False,False,False,False
3,4,297,109,0,145,957,13782838,258078,1757,0,...,False,False,False,False,False,False,False,False,False,False
4,5,297,171,0,857,16000,313837577,1238746,22342,2,...,False,False,False,False,False,False,False,False,False,False

In [11]:
column_headers = df.columns.tolist()
print(column_headers)

['id', 'num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_1_facebook_likes', 'gross', 'num_voted_users', 'cast_total_facebook_likes', 'facenumber_in_poster', 'num_user_for_reviews', 'title_year', 'actor_2_facebook_likes', 'movie_facebook_likes', 'average_degree_centrality', 'imdb_score_binned', 'director_name_freq', 'actor_2_name_freq', 'actor_1_name_freq', 'actor_3_name_freq', 'title_embedding_0', 'title_embedding_1', 'title_embedding_2', 'title_embedding_3', 'title_embedding_4', 'title_embedding_5', 'title_embedding_6', 'title_embedding_7', 'title_embedding_8', 'title_embedding_9', 'title_embedding_10', 'title_embedding_11', 'title_embedding_12', 'title_embedding_13', 'title_embedding_14', 'title_embedding_15', 'title_embedding_16', 'title_embedding_17', 'title_embedding_18', 'title_embedding_19', 'title_embedding_20', 'title_embedding_21', 'title_embedding_22', 'title_embedding_23', 'title_embedding_24', 'title_embedding_25', 'title_embedding_26', 'title_embedding_27', 'title_embedding_28', 'title_embedding_29', 'title_embedding_30', 'title_embedding_31', 'title_embedding_32', 'title_embedding_33', 'title_embedding_34', 'title_embedding_35', 'title_embedding_36', 'title_embedding_37', 'title_embedding_38', 'title_embedding_39', 'title_embedding_40', 'title_embedding_41', 'title_embedding_42', 'title_embedding_43', 'title_embedding_44', 'title_embedding_45', 'title_embedding_46', 'title_embedding_47', 'title_embedding_48', 'title_embedding_49', 'title_embedding_50', 'title_embedding_51', 'title_embedding_52', 'title_embedding_53', 'title_embedding_54', 'title_embedding_55', 'title_embedding_56', 'title_embedding_57', 'title_embedding_58', 'title_embedding_59', 'title_embedding_60', 'title_embedding_61', 'title_embedding_62', 'title_embedding_63', 'title_embedding_64', 'title_embedding_65', 'title_embedding_66', 'title_embedding_67', 'title_embedding_68', 'title_embedding_69', 'title_embedding_70', 'title_embedding_71', 'title_embedding_72', 'title_embedding_73', 'title_embedding_74', 'title_embedding_75', 'title_embedding_76', 'title_embedding_77', 'title_embedding_78', 'title_embedding_79', 'title_embedding_80', 'title_embedding_81', 'title_embedding_82', 'title_embedding_83', 'title_embedding_84', 'title_embedding_85', 'title_embedding_86', 'title_embedding_87', 'title_embedding_88', 'title_embedding_89', 'title_embedding_90', 'title_embedding_91', 'title_embedding_92', 'title_embedding_93', 'title_embedding_94', 'title_embedding_95', 'title_embedding_96', 'title_embedding_97', 'title_embedding_98', 'title_embedding_99', 'genres_0', 'genres_1', 'genres_2', 'genres_3', 'genres_4', 'genres_5', 'genres_6', 'genres_7', 'genres_8', 'genres_9', 'genres_10', 'genres_11', 'genres_12', 'genres_13', 'genres_14', 'genres_15', 'genres_16', 'genres_17', 'genres_18', 'genres_19', 'genres_20', 'genres_21', 'genres_22', 'genres_23', 'genres_24', 'genres_25', 'genres_26', 'genres_27', 'genres_28', 'genres_29', 'genres_30', 'genres_31', 'genres_32', 'genres_33', 'genres_34', 'genres_35', 'genres_36', 'genres_37', 'genres_38', 'genres_39', 'genres_40', 'genres_41', 'genres_42', 'genres_43', 'genres_44', 'genres_45', 'genres_46', 'genres_47', 'genres_48', 'genres_49', 'plot_keywords_0', 'plot_keywords_1', 'plot_keywords_2', 'plot_keywords_3', 'plot_keywords_4', 'plot_keywords_5', 'plot_keywords_6', 'plot_keywords_7', 'plot_keywords_8', 'plot_keywords_9', 'plot_keywords_10', 'plot_keywords_11', 'plot_keywords_12', 'plot_keywords_13', 'plot_keywords_14', 'plot_keywords_15', 'plot_keywords_16', 'plot_keywords_17', 'plot_keywords_18', 'plot_keywords_19', 'plot_keywords_20', 'plot_keywords_21', 'plot_keywords_22', 'plot_keywords_23', 'plot_keywords_24', 'plot_keywords_25', 'plot_keywords_26', 'plot_keywords_27', 'plot_keywords_28', 'plot_keywords_29', 'plot_keywords_30', 'plot_keywords_31', 'plot_keywords_32', 'plot_keywords_33', 'plot_keywords_34', 'plot_keywords_35', 'plot_keywords_36', 'plot_keywords_37', 'plot_keywords_38', 'plot_keywords_39', 'plot_keywords_40', 'plot_keywords_41', 'plot_keywords_42', 'plot_keywords_43', 'plot_keywords_44', 'plot_keywords_45', 'plot_keywords_46', 'plot_keywords_47', 'plot_keywords_48', 'plot_keywords_49', 'content_rating_G', 'content_rating_GP', 'content_rating_M', 'content_rating_NC-17', 'content_rating_Not Rated', 'content_rating_PG', 'content_rating_PG-13', 'content_rating_Passed', 'content_rating_R', 'content_rating_Unrated', 'content_rating_X', 'country_Afghanistan', 'country_Argentina', 'country_Aruba', 'country_Australia', 'country_Belgium', 'country_Brazil', 'country_Canada', 'country_Chile', 'country_China', 'country_Colombia', 'country_Czech Republic', 'country_Denmark', 'country_Finland', 'country_France', 'country_Germany', 'country_Hong Kong', 'country_Hungary', 'country_Iceland', 'country_India', 'country_Indonesia', 'country_Iran', 'country_Ireland', 'country_Israel', 'country_Italy', 'country_Japan', 'country_Mexico', 'country_Netherlands', 'country_New Line', 'country_New Zealand', 'country_Norway', 'country_Official site', 'country_Poland', 'country_Romania', 'country_Russia', 'country_South Africa', 'country_South Korea', 'country_Spain', 'country_Taiwan', 'country_Thailand', 'country_UK', 'country_USA', 'country_West Germany', 'language_Aboriginal', 'language_Arabic', 'language_Aramaic', 'language_Bosnian', 'language_Cantonese', 'language_Czech', 'language_Danish', 'language_Dari', 'language_Dutch', 'language_English', 'language_Filipino', 'language_French', 'language_German', 'language_Hebrew', 'language_Hindi', 'language_Hungarian', 'language_Indonesian', 'language_Italian', 'language_Japanese', 'language_Kazakh', 'language_Korean', 'language_Mandarin', 'language_Maya', 'language_Mongolian', 'language_Norwegian', 'language_Persian', 'language_Portuguese', 'language_Romanian', 'language_Spanish', 'language_Thai', 'language_Tibetan', 'language_Vietnamese', 'language_Zulu']

In [12]:
df['imdb_score_binned'] = df.pop('imdb_score_binned')

df.head()

,id,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,...,language_Norwegian,language_Persian,language_Portuguese,language_Romanian,language_Spanish,language_Thai,language_Tibetan,language_Vietnamese,language_Zulu,imdb_score_binned
0,1,186,73,28,847,2000,422783777,644348,6458,0,...,False,False,False,False,False,False,False,False,False,4
1,2,252,97,0,233,654,20433940,78883,1876,8,...,False,False,False,False,False,False,False,False,False,2
2,3,232,117,234,221,12000,371897,36494,13607,2,...,False,False,False,False,False,False,False,False,False,2
3,4,297,109,0,145,957,13782838,258078,1757,0,...,False,False,False,False,False,False,False,False,False,4
4,5,297,171,0,857,16000,313837577,1238746,22342,2,...,False,False,False,False,False,False,False,False,False,4

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3004 entries, 0 to 3003
Columns: 306 entries, id to imdb_score_binned
dtypes: bool(86), float32(100), float64(105), int64(15)
memory usage: 4.1 MB

In [14]:
df.to_csv('processed_train.csv',index = False)